NODE_ENV="development"
CERT_PATH="../vue-client/public/certs/localhost.pem"
PRIV_KEY_PATH="../vue-client/public/certs/localhost-key.pem"
CERT_HASH_OUT_PATH="../vue-client/public/certs/cert-hash.json"
WT_SECRET="replace-with-a-local-secret"
